.class{
    background-color:#032668;
    background-color: #1E3A5F;
    background-color: #2C5EAA;
    background-color: #D9A87E;
    background-color: #444444;
    background-color: #333333;
    background-color: #222222;
}